@font-face {
    font-family: semibold;
    src: url("./assets/fonts/PlayfairDisplay-SemiBoldItalic.ttf");
}

@font-face {
    font-family: dmsans;
    src: url("./assets/fonts/DMSans_18pt-Medium.ttf");
}

@font-face {
    font-family: dmsans-reg;
    src: url("./assets/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: playfair;
    src: url("./assets/fonts/PlayfairDisplay-Medium.ttf");
}

@import "tailwindcss";

@theme{
    --color-primary:#474747;
    --color-secondary:#2C2F24;
    --color-red-primary:#AD343E;
    --font-dmsans:dmsans , sans-serif;
    --font-playfair:playfair , sans-serif;
    --font-dmsans-reg:dmsans-reg , sans-serif;
    --font-semibold:semibold , sans-serif;
}

html, body{
    background-color: #F9F9F7;
    scroll-behavior: smooth;
    
}

.vide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.918), transparent);
    z-index: 5;
}